// Gives us 1em = 10px

html {
  font-size:62.5%;
}
body {
  font-size: 1.4rem; // 14px;
}
h1, h2, h3, p {
  font-family: $housefont;
}
h1 {
  font-size:2rem;
}
h2 {
  font-size:1.8rem;
}
h3 {
  font-size:1.6rem;
}
p {
  font-size:1.4rem;
}