/////////////////////////////////////////////////
// GLOBAL
//
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/////////////////////////////////////////////////
// HTML BODY
//
body {

  // Breaks
  background:$color-large-background;

  // Breakpoints
  @include breakpoint(medium) {
    background:$color-medium-background;
  }
  @include breakpoint(small) {
    background:$color-small-background;
  }
}

/////////////////////////////////////////////////
// CONTENT BODY
//
.magic-body {
  padding:2rem;
}
